<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ankimate</title>
</head>
<body>
<div class="form-container">
    <form action="/ankimate" method="POST">
        <label for="language">Pick a language</label>
        <select name="input[language]" id="language">
            <option value="english">English</option>
            <option value="french">French</option>
        </select>
        <label for="words">Words: </label>
        <input name="input[word]" type="text" id="words">
        <button>Submit</button>
    </form>
</div>
</body>
</html>