.config-container{
    position: fixed;
    left: 0;
    display: flex;
    margin: 100px 100px;
    flex-direction: column;
    align-items: center;
    min-width: 371px;
}

.config-group{
    width: 100%;
}

@media (max-width: 800px) {
    .config-container{
        position: relative;
        left: inherit;
        margin: 70px 100px 10px;
    }
}