.cell-container{
    display: grid;
    grid-template-columns: 15% 60% 15% 10%;
    width: 100%;
    font-size: 18px;
}

.cell-container *{
    padding: 11px;
}

.cell-container button{
    width: 100%;
    display: block;
    margin: auto;
    font-size: 15px;
    background-color: #e5545b;
    border-radius: 0 7px 7px 0;
    border: none
}

.isDisabled{
    background-color: #ccc !important;
}

.not-valid{
    background-color: rgb(235 0 0 / 23%);
    border-color: #ffffff00;
}


@media (max-width: 800px) {
    .cell-container {
        width: 100%;
    }
}